body {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chess-piece.invisible {
  display: none;
}

.chess-piece.hold {
  border: 2px solid orange;
}

.chess-piece.hovered {
  border: 2px solid orange;
}
